@media (max-width: 425px) {
  #battle-name,
  #battle-initiave,
  #player-name,
  #pv-battle,
  #ca-battle,
  #damage-battle
  {
    font-size: 10px;
  }

  .battle-tr h6 {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  #battle-name,
  #battle-initiave,
  #player-name,
  #pv-battle,
  #ca-battle,
  #damage-battle
  {
    font-size: 6px;
  }

  .battle-tr h6 {
    font-size: 4px;
  }
}