@media (max-width: 425px) {
  #character-name,
  #character-class,
  #player-name,
  #pv-character,
  #total-pv-character,
  #ca-character,
  #negative-pv-character,
  #class-powers-character,
  #status-character
  {
    font-size: 6px;
  }

  .character-tr h6 {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  #character-name,
  #character-class,
  #player-name,
  #pv-character,
  #total-pv-character,
  #ca-character,
  #negative-pv-character,
  #class-powers-character,
  #status-character
  {
    font-size: 3px;
  }

  .character-tr h6 {
    font-size: 4px;
  }
}