@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: 'MedievalSharp', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 320px) {
  body, #root {
    height: 602px;
    width: 320px;
  }
}
